zipsign.pub binary
vendor/aqua-registry/** linguist-vendored
crates/vfox/embedded-plugins/** linguist-vendored
schema/mise-task.json linguist-generated=true
schema/miserc.json linguist-generated=true
