[submodule "crates/vfox/embedded-plugins/vfox-aapt2"]
	path = crates/vfox/embedded-plugins/vfox-aapt2
	url = https://github.com/mise-plugins/vfox-aapt2.git
[submodule "crates/vfox/embedded-plugins/vfox-ag"]
	path = crates/vfox/embedded-plugins/vfox-ag
	url = https://github.com/mise-plugins/vfox-ag.git
[submodule "crates/vfox/embedded-plugins/vfox-android-sdk"]
	path = crates/vfox/embedded-plugins/vfox-android-sdk
	url = https://github.com/mise-plugins/vfox-android-sdk.git
[submodule "crates/vfox/embedded-plugins/vfox-ant"]
	path = crates/vfox/embedded-plugins/vfox-ant
	url = https://github.com/mise-plugins/vfox-ant.git
[submodule "crates/vfox/embedded-plugins/vfox-bfs"]
	path = crates/vfox/embedded-plugins/vfox-bfs
	url = https://github.com/mise-plugins/vfox-bfs.git
[submodule "crates/vfox/embedded-plugins/vfox-bpkg"]
	path = crates/vfox/embedded-plugins/vfox-bpkg
	url = https://github.com/mise-plugins/vfox-bpkg.git
[submodule "crates/vfox/embedded-plugins/vfox-chicken"]
	path = crates/vfox/embedded-plugins/vfox-chicken
	url = https://github.com/mise-plugins/vfox-chicken.git
[submodule "crates/vfox/embedded-plugins/vfox-vlang"]
	path = crates/vfox/embedded-plugins/vfox-vlang
	url = https://github.com/mise-plugins/vfox-vlang.git
[submodule "crates/vfox/embedded-plugins/mise-semver"]
	path = crates/vfox/embedded-plugins/mise-semver
	url = https://github.com/mise-plugins/mise-semver.git
[submodule "crates/vfox/embedded-plugins/vfox-1password"]
	path = crates/vfox/embedded-plugins/vfox-1password
	url = https://github.com/mise-plugins/vfox-1password.git
[submodule "crates/vfox/embedded-plugins/vfox-asciidoctorj"]
	path = crates/vfox/embedded-plugins/vfox-asciidoctorj
	url = https://github.com/mise-plugins/vfox-asciidoctorj.git
[submodule "crates/vfox/embedded-plugins/vfox-azure-functions-core-tools"]
	path = crates/vfox/embedded-plugins/vfox-azure-functions-core-tools
	url = https://github.com/mise-plugins/vfox-azure-functions-core-tools.git
[submodule "crates/vfox/embedded-plugins/vfox-carthage"]
	path = crates/vfox/embedded-plugins/vfox-carthage
	url = https://github.com/mise-plugins/vfox-carthage.git
[submodule "crates/vfox/embedded-plugins/vfox-chezscheme"]
	path = crates/vfox/embedded-plugins/vfox-chezscheme
	url = https://github.com/mise-plugins/vfox-chezscheme.git
[submodule "crates/vfox/embedded-plugins/vfox-chromedriver"]
	path = crates/vfox/embedded-plugins/vfox-chromedriver
	url = https://github.com/mise-plugins/vfox-chromedriver.git
[submodule "crates/vfox/embedded-plugins/vfox-clickhouse"]
	path = crates/vfox/embedded-plugins/vfox-clickhouse
	url = https://github.com/mise-plugins/vfox-clickhouse.git
[submodule "crates/vfox/embedded-plugins/vfox-gcloud"]
	path = crates/vfox/embedded-plugins/vfox-gcloud
	url = https://github.com/mise-plugins/vfox-gcloud.git
[submodule "crates/vfox/embedded-plugins/vfox-yarn"]
	path = crates/vfox/embedded-plugins/vfox-yarn
	url = https://github.com/mise-plugins/vfox-yarn.git
