*.rs
*.snap
.idea
.venv
*.gif
*.png
*.lock
*.lockb
.cliffignore
*.kdl
CHANGELOG.md
aqua-registry/
docs/.vitepress/cache
docs/.vitepress/dist
docs/cli
docs/environments.md
docs/public/site.webmanifest
docs/registry.md
e2e
src/assets/bash_zsh_support/
tasks.md
test/data
tmp
