*.rs
*.snap
.idea
.venv
*.gif
*.png
*.lock
.cliffignore
*.kdl
CHANGELOG.md
crates/aqua-registry/aqua-registry/
docs/.vitepress/cache
docs/.vitepress/dist
docs/cli
docs/environments.md
docs/public/site.webmanifest
docs/registry.md
docs/plugin-usage.md
docs/plugin-publishing.md
CLAUDE.md
e2e
src/assets/bash_zsh_support/
tasks.md
test/data
tmp
