source_code_link_template #"""
{%- set path = path | replace(from='-', to='_') -%}
{%- if path == "bootstrap/dotfiles" or path is starting_with(pat="bootstrap/dotfiles/") -%}
{%- set path = path | replace(from="bootstrap/dotfiles", to="dotfiles") -%}
{%- endif -%}
{%- if path == "daemons/providers" or path is starting_with(pat="daemons/providers/") -%}
{%- set path = "daemons/providers.rs" -%}
{%- elif path == "daemons" or path is starting_with(pat="daemons/") -%}
{%- set path = "cli/daemons.rs" -%}
{%- elif path == "dotfiles/history" -%}
{%- set path = "cli/dotfiles/history/mod.rs" -%}
{%- elif path == "dotfiles/include" -%}
{%- set path = "cli/dotfiles/exclude.rs" -%}
{%- elif path == "dotfiles/origin" or path == "dotfiles/origin/set" -%}
{%- set path = "cli/dotfiles/origin.rs" -%}
{%- elif path == "bootstrap/packages/apply" -%}
{%- set path = "cli/system/install.rs" -%}
{%- elif path == "bootstrap/packages/export" -%}
{%- set path = "cli/system/export.rs" -%}
{%- elif path == "bootstrap/packages/import" -%}
{%- set path = "cli/system/import.rs" -%}
{%- elif path == "bootstrap/packages/prune" -%}
{%- set path = "cli/system/prune.rs" -%}
{%- elif path == "bootstrap/packages/status" -%}
{%- set path = "cli/system/status.rs" -%}
{%- elif path == "bootstrap/packages/upgrade" -%}
{%- set path = "cli/system/upgrade.rs" -%}
{%- elif path == "bootstrap/packages/use" -%}
{%- set path = "cli/system/use.rs" -%}
{%- elif path == "bootstrap/packages/where" -%}
{%- set path = "cli/system/where.rs" -%}
{%- elif path == "bootstrap/packages/brew/tap" -%}
{%- set path = "cli/system/brew/tap.rs" -%}
{%- elif path == "bootstrap/packages/brew/untap" -%}
{%- set path = "cli/system/brew/untap.rs" -%}
{%- elif path == "bootstrap/packages/brew" -%}
{%- set path = "cli/system/brew/mod.rs" -%}
{%- elif path is starting_with(pat="bootstrap") -%}
{%- set path = "cli/bootstrap.rs" -%}
{%- elif path == "tasks/run" -%}
{%- set path = "cli/run.rs" -%}
{%- elif cmd.subcommands | length > 0 -%}
{%- set parts = path | split(pat="/") -%}
{%- set path = "cli/" ~ parts[0] ~ "/mod.rs" -%}
{%- else -%}
{%- set path = "cli/" ~ path ~ ".rs" -%}
{%- endif -%}
https://github.com/jdx/mise/blob/main/src/{{path}}
"""#

complete "alias" run="mise alias ls {{words[PREV]}} | awk '{print $2}'"
complete "config_file" type="file"
complete "new_plugin" run="mise plugins --all"
complete "installed_tool" run="mise ls -i | awk '{print $1}' | uniq"
complete "plugin" run="mise plugins --core --user"
complete "prefix" run="mise ls-remote {{words[PREV]}}"
complete "setting" run="mise settings --complete" descriptions=#true
complete "task" run="mise tasks ls --complete" descriptions=#true
complete "tool" run="mise search --complete {{words[CURRENT]}}" descriptions=#true
complete "env_var" run=#"mise set --complete | awk '{print $1"="}'"#
complete "env_key" run="mise set --complete"
complete "secret" run="mise secrets ls --complete"
complete "backend" run="mise backends"
complete "bin_name" run="mise which --complete"

complete "tool@version" run=#"""
cur="{{words[CURRENT]}}"
case $cur in
  *@*)
    tool="$(echo "$cur" | cut -d'@' -f1)"
    prefix="$(echo "$cur" | cut -d'@' -f2)"

    versions=$(mise ls-remote $tool $prefix | sed '1!G;h;$!d')

    for version in $versions; do
      echo "$tool@$version"
    done
    ;;
  *)
    plugins=$(mise search --complete-ids "$cur")
    for plugin in $plugins; do
      echo "$plugin@"
    done
    ;;
esac
"""#

complete "installed_tool@version" run=#"""
cur="{{words[CURRENT]}}"
case $cur in
  *@*)
    tool="$(echo "$cur" | cut -d'@' -f1)"
    prefix="$(echo "$cur" | cut -d'@' -f2)"

    if [ ! -z "$prefix" ]; then
      prefix="--prefix $prefix"
    fi
    versions=$(mise ls --installed $tool $prefix | awk '{print $2}' | sed '1!G;h;$!d')

    for version in $versions; do
      echo "$tool@$version"
    done
    ;;
  *)
    plugins=$(mise ls --installed | awk '{print $1}' | uniq | sed '1!G;h;$!d')
    for plugin in $plugins; do
      echo "$plugin@"
    done
    ;;
esac
"""#
